.btn.loading.btn-sm:before,
  .btn.loading.btn-xxs:before {
  height: 0.5rem/* 8px */;
  width: 0.5rem/* 8px */;
}

.btn-xxs {
  height: 1rem/* 16px */;
  padding-left: 0.25rem/* 4px */;
  padding-right: 0.25rem/* 4px */;
  min-height: 1rem/* 16px */;
  font-size: 0.5rem/* 8px */;
}

.btn-circle:where(.btn-xxs) {
  height: 1rem/* 16px */;
  width: 1rem/* 16px */;
  border-radius: 9999px;
  padding: 0px;
}
